<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337685876060-8o85bbiqb0qk9v1huqknmldsq3mi65i3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337685876060-8o85bbiqb0qk9v1huqknmldsq3mi65i3</string>
	<key>API_KEY</key>
	<string>AIzaSyAeQPay3_9FAmZfVRa0m5RRdzPFzDiUEbU</string>
	<key>GCM_SENDER_ID</key>
	<string>337685876060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.FIT5140FinalApp</string>
	<key>PROJECT_ID</key>
	<string>fit5140finalapp</string>
	<key>STORAGE_BUCKET</key>
	<string>fit5140finalapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337685876060:ios:fa785a9fe770a03fe04599</string>
	<key>DATABASE_URL</key>
	<string>https://fit5140finalapp.firebaseio.com</string>
</dict>
</plist>